#map {
	height: 97vh;
}

#controls {
	position: fixed;
	top: 2vh;
	right: 2vh;
	z-index: 100;
	background-color: white;
	opacity: 0.8;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: black;
}

.controldiv > * {
	display: block;
	width: 128px;

}

.controldiv > button {
	height: 32px;
}

.controldiv > p {
	text-align: center;
}

#attribimg {
	height: 12px;
	width: 12px;
	padding: 5px 5px 5px 5px;
}
