#map {
	height: 97vh;
}

#controls {
	position: fixed;
	top: 2vh;
	right: 2vh;
	z-index: 100;
}
#controls > button {
	display: block;
	height: 32px;
	width: 128px;
}

#attribimg {
	height: 12px;
	width: 12px;
	padding: 5px 5px 5px 5px;
}
